@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020024;
    overflow-x: hidden;
    color: #fff;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
}

h1{
    font-family: "Luckiest Guy", cursive;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #020024;
    flex-direction: column;
}

.img1{
    overflow: hidden;
    width: 98%;
    height: 65%;
    position: relative;
    top: 55px;
}

.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 53px;
    filter: contrast(180%) brightness(110%);
}

.content{
    position: relative;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

.content h1{
    font-size: 5em;
    text-shadow: 0px -10px 0px #020024, -10px -7px 0px #020024, 10px -7px 0px #020024, 0px 17px 0px #020024;
}

.content p{
    font-size: 2em;
    margin-top: 20px;
}

.hero hr{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #fff;
}

.timeline h1{
    text-align: center;
    font-size: 2.5em;
}

.timeline{
    background-color: rgba(255, 255, 255, 0.09);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 50px 0;
    max-width: 1300px;
    margin: 2rem auto;
    border-radius: 10px;
    position: relative;
    font-family: "Irish Grover", cursive;
}

@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
    }
}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.timeline ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div{
    position: relative;
    bottom: 0px;
    width: 400px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #fff;
    margin: 1rem 0;
}

.timeline ul li div::before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0px;
    height: 0px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
}

.timeline ul li div::after{
    content: '';
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 100%;
    left: 20%;
    background-image: url('https://cloud-mb4sjagqp-hack-club-bot.vercel.app/0particles.png');
    animation: zoomInOut 8s linear infinite;
    z-index: -1;
}

.timeline ul li:nth-child(odd) div{
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.timeline ul li:nth-child(even) div{
    left: -429px;
}

.timeline ul li:nth-child(even) div::before{
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}

.timeline ul li div img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    margin-top: -10rem;
}

.timeline ul li div h3{
    display: block;
    font-size: 1.2rem;
    margin-top: -1rem;
    float: right;
    text-transform: uppercase;
}

.timeline ul li::after{
    transition: background-color 0.5s ease-in-out;
}
.timeline ul li.in-view::after{
    background-color: #fff;
}

.timeline ul li div::before{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div{
    transform: translate3D(200px, 0, 0);
}

.timeline ul li:nth-child(even) div{
    transform: translate3D(-200px, 0, 0);
}

.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px){
    .timeline ul li div{
        width: 300px;
    }
    .timeline ul li:nth-child(even) div{
        left: -330px;
    }
}

@media screen and (max-width: 600px){
    .timeline ul li{
        margin-left: 20px;
    }
    .timeline ul li div{
        width: calc(100vw - 90px);
    }
    .timeline ul li:nth-child(even) div{
        left: 45px;
        border-width: 8px 16px 8px 0;
        border-color: transparent rgb(255, 255, 255) transparent transparent;
    }
}
.timeline-clippy{
    width: 40px;
    height: 40px;
    border-radius: 0;
}
.timeline-rhombus ul li::after{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before{
    bottom: 12px;
}

.timeline-star ul li::after{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.timeline-heptagon ul li::after{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.timeline-infinite ul li::after{
    animation: scaleAnimate 2s infinite;
}

@keyframes scaleAnimate{
    0%, 100%{
        transform: translateX(-50%) scale(1);
    }
    50%{
        transform: translateX(-50%) scale(1.25);
    }
    100%{
        transform: translateX(-50%) scale(1);
    }
}

.timeline li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline li.in-view {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #020024;
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
}

.slide-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020024;
}

.contain-cards{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.contain-cards .mcard{
    position: relative;
    max-width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.09);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.contain-cards .mcard:hover{
    height: 300px;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.9);
}

.contain-cards .mcard .cimg{
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 7px;
    z-index: 1;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5);
}

.contain-cards .mcard .cimg img{
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
}

.contain-cards .mcard .cdetail{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    font-family: "Irish Grover", cursive;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.contain-cards .mcard:hover .cdetail{
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}

.botCont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

.botCont h3{
    font-family: "Irish Grover", cursive;
    font-size: 2.5em;
}

.botCont button{
    padding: 10px 20px;
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Luckiest Guy", cursive;
}

.botCont button:hover{
    transform: scale(1.1) rotate(-5deg);
}

footer p{
    margin-top: 20px;
}

.icons a{
    margin: 0 10px;
    font-size: 1.5em;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.icons a box-icon:hover{
    transform: scale(1.2);
}

footer p span{
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

footer p span:hover{
    color: red;
}
